.container {
    width: 300px;
    border: 1px solid rgb(223, 220, 220);
    border-radius: 3px;
}

.img-container {
    width: 90%;
    background: no-repeat
        url("https://raw.githubusercontent.com/green-fox-academy/myfirstapp-syllabus/master/assets/first-website-header.png");
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#hy {
    position: fixed;
    position: absolute;
    bottom: 0px;
    left: 45px;
    width: 100px;
    font-family: "Abril Fatface", cursive;
}

#name {
    position: fixed;
    position: absolute;
    bottom: 5px;
    left: 45px;
    width: 150px;
    font-family: "Abril Fatface", cursive;
    font-variant: normal;
}

.text-container {
    padding: 30px;
    height: 120px;
    width: 220px;
    margin: 15px auto 0px auto;
    padding: 0;
}

.blockquote-container {
    height: 45px;
}

ul {
    margin: 10px;
}

p,
li {
    list-style-type: square;
    color: rgb(2, 2, 2);
    font-family: "Josefin Sans", sans-serif;
    font-size: 8px;
    margin: 5px;
}

blockquote {
    align-items: center;
    margin: 0;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

blockquote p {
    padding: 5px;
    color: white;
    background: #444444;
    font-family: "Abril Fatface", cursive;
    font-size: 11px;
}

blockquote p::before {
    content: "\201C";
}
